@import url('../../blocks/searchForm/__submit-button/searchForm__submit-button.css');
@import url('../../blocks/searchForm/__label/searchForm__label.css');
@import url('../../blocks/searchForm/__input/searchForm__input.css');
@import url('../../blocks/searchForm/__input-container/searchForm__input-container.css');
@import url('../../blocks/searchForm/__form/searchForm__form.css');
@import url('../../blocks/searchForm/__checkbox/searchForm__checkbox.css');
@import url('../../blocks/searchForm/__check-box-container/searchForm__check-box-container.css');

.searchForm {
    max-width: 1140px;
    margin: 60px auto 0;
    border-bottom: 1px solid #424242;
}