@import url('../../blocks/footer/__title/footer__title.css');
@import url('../../blocks/footer/__link/footer__link.css');
@import url('../../blocks/footer/__link-container/footer__link-container.css');
@import url('../../blocks/footer/__copyright/footer__copyright.css');
@import url('../../blocks/footer/__container/footer__container.css');

.footer {
    display: flex;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #202020;
}