
.footer {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 89%;
    margin: 0 auto;
    background-color: #202020;
}

.footer__title {
    color: #8B8B8B;
    font-size: 13px;
    margin: 80px auto 20px;
}

.footer__link {
    margin-right: 20px;
    text-decoration: none;
    color: white;
}

.footer__link:last-child {
    margin-right: 0;
}

.footer__link:hover {
    opacity: 0.5;
    cursor: pointer;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 20px 0;
    border-top: 1px solid #424242;
    font-size: 13px;
}

@media screen and (max-width: 1023px) {
    .footer {
       width: 92%;
    }
}

@media screen and (max-width: 426px) {
    .footer {
       width: 92%;
    }

    .footer__title {
        text-align: center;
        font-size: 12px;
    }

    .footer__container {
        display: flex;
        flex-direction: column-reverse;
        font-size: 12px;
    }

    .footer__link-container { 
        display: flex;
        flex-direction: column;
    }

    .footer__link {
        margin: 6px auto;
        text-align: center;
    }

    .footer__link:last-child {
        margin: 6px auto;
        text-align: center;
    }

    .footer__copyright {
        margin-top: 30px;
        text-align: center;
        color: #424242;
    }
}