@import url('../../blocks/header/__link/header__link.css');
@import url('../../blocks/header/__link-container/header__link-container.css');
@import url('../../blocks/header/__logo-container/header__logo-container.css');
@import url('../../blocks/header/__logo/header__logo.css');
@import url('../../blocks/header/__button-acc/header__button-acc.css');
@import url('../../blocks/header/__link/__auth/header__link__auth_login.css');
@import url('../../blocks/header/_promo/header_promo__background.css');

.header {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
}