.searchForm__submit-button {
    width: 80px;
    margin: 6px 6px 6px 0;
    background-color: #4285F4;
    background-image: url('../../../images/icon__search.svg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 40px;
}