@import url('../../blocks/main/__subtitle/main__subtitle.css');
@import url('../../blocks/about-me/__paragraph/about-me__paragraph.css');
@import url('../../blocks/about-me/__title/about-me__title.css');
@import url('../../blocks/about-me/__age/about-me__age.css');
@import url('../../blocks/about-me/__container/about-me__container.css');
@import url('../../blocks/about-me/__link-container/about-me__link-container.css');
@import url('../../blocks/about-me/__profile-pic/about-me__profile-pic.css');
@import url('../../blocks/about-me/__text-container/about-me__text-container.css');
@import url('../../blocks/about-me/__link/about-me__link.css');


.about-me {
    max-width: 1280px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    background-color: #202020;
}

.about-me__age {
    font-size: 18px;
    margin: 18px 0 0 0;
    font-weight: normal;
}

.about-me__container {
    display: flex;
    margin: 0 70px;
    justify-content: space-between;
}

.about-me__link {
    text-decoration: none;
    color: white;
    margin: 0 10px;
}

.about-me__link:hover {
    opacity: 0.5;
}

.about-me__link-container {
    margin: 99px 0 0 0;
 }

 .about-me__paragraph {
    margin: 26px 0 0 0;
    font-size: 14px;
}

.about-me__text-container {
    max-width: 600px;
}

.about-me__title {
    margin: 0;
    padding: 0;
    font-size: 50px;
}