.header__button-acc {
    font-size: 13px;
    background-color: #313131;
    border: none;
    color: white;
    border-radius: 25%;
    padding: 8px 20px;
}

.header__button-acc:hover {
    opacity: 0.9;
    color: wheat;
    cursor: pointer;
}