.moviesCard {
    background-color: #222222;
    border-radius: 6px;
    width: fit-content;
}

.moviesCard__img {
    max-width: 364px;
}

.moviesCard__container {
    padding: 16px;
}

.moviesCard__name-cont {
    display: flex;
    justify-content: space-between;
}

.moviesCard__name {
    font-weight: medium;
    font-size: 13px;
    margin: 0;
}

.moviesCard__like {
    margin: 0;
    padding: 0;
    width: 21px;
    height: 19px;
    background-image: url(../../images/like-emty.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    border: none;
    outline:none;
}

.moviesCard__delete {
    margin: 0;
    padding: 0;
    width: 8px;
    height: 8px;
    background-image: url(../../images/close-icon-menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;
    border: none;
    outline: none;
}

.moviesCard__delete:hover {
    opacity: 0.5;
    cursor: pointer;
}

.moviesCard__like__color_pink {
    background-image: url(../../images/like-pink.svg);
}

.moviesCard__like:hover {
    opacity: 0.5;
    cursor: pointer;
} 

.moviesCard__time {
    margin: 15px 0 0 0;
    color: #8B8B8B; 
    font-size: 11px;
}

@media screen and (max-width: 1150px) {
    .moviesCard__img {
        max-width: 339px;
    }    
}


@media screen and (max-width: 767px) {
    .moviesCard__img {
        max-width: 300px;
    }    
    .moviesCard__time {
        font-size: 10px;
    }
    .moviesCard__name {
        font-size: 12px;
    }
}